- hosts: nginx_instance
  become: yes
  become_user: root
  vars:
    ansible_python_interpreter: "/usr/bin/python3"

  tasks:
    
    - name: Allow all access to tcp port 22
      ufw:
        rule: allow
        port: 22
        proto: tcp

    - name: Allow all access to tcp port 80
      ufw:
        rule: allow
        port: 80
        proto: tcp

    - name: Allow all access to tcp port 443
      ufw:
        rule: allow
        port: 443
        proto: tcp

    - name: Enable UFW
      ufw:
        state: enabled

    - name: Add Docker GPG key
      apt_key: url=https://download.docker.com/linux/ubuntu/gpg
    
    - name: Add Docker APT repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ansible_distribution_release}} stable

    - name: Install Docker and other utils
      apt:
        name: ['apt-transport-https','ca-certificates','curl','software-properties-common','docker-ce']
        state: present
        update_cache: yes

    - name: Install python/pip 
      apt:
        name: ['python-pip','python-dev','build-essential','python3-pip']
        state: present
        update_cache: yes

    - name: Install python libs for docker
      pip:
        name: docker
        state: present
   
    - name: Create .nginx volume
      file:
        path: .nginx/stats
        state: directory 

    - name: Copy static files to nginx volume
      copy:
        src: static-files/index.html
        dest: .nginx/index.html
        owner: root
        group: root

    - name: Copy static files to nginx volume
      copy:
        src: static-files/50x.html
        dest: .nginx/50x.html
        owner: root
        group: root

    - name: Create and start nginx container 
      docker_container:
        name: nginx
        image: nginx
        state: started
        ports:
          - 80:80
        expose:
          - 80
        volumes: /home/ubuntu/.nginx:/usr/share/nginx/html:ro

    - name: Create .scripts directory
      file:
        path: .scripts
        state: directory
    
    - name: Copy nginx healthcheck script
      copy:
        src: scripts/nginx-healthcheck.sh
        dest: .scripts/nginx-healthcheck.sh
        owner: root
        group: root
        mode: a+x
    
    - name: copy nginx fetch-output script
      copy:
        src: scripts/nginx-fetch-output.sh
        dest: .scripts/nginx-fetch-output.sh
        owner: root
        group: root
        mode: a+x

    - name: copy nginx scripts/nginx-stats.sh
      copy:
        src: scripts/nginx-stats.sh
        dest: /etc/cron.d/
        owner: root
        group: root
        mode: a+x

    - name: Enable cron 
      command: crontab /etc/cron.d/nginx-stats.sh